/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('https://img4.goodfon.com/wallpaper/nbig/a/af/mountains-clouds-travel-wallpaper-background-priroda-peizazh.jpg');
    background-size: cover;
    background-position: center center;
}
